* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  list-style: none;
  font-family: Poppins-Medium;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #6dd5ed;
    border-radius: 10px;
  }
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./fonts/Poppins-Medium.ttf);
}

.container {
  background: linear-gradient(135deg, #2193b0, #6dd5ed);
  height: 100vh;
  padding-top: 100px;
}

.todo-app {
  width: 40%;
  background-color: #fff;
  padding: 40px 30px 70px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #00000050;
}

.title-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-div img {
  width: 10%;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cfcfcf;
  border-radius: 30px;
  padding-left: 20px;
  margin: 25px 0px;
}

.inner-container input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
}

.inner-container button {
  border: none;
  padding: 16px 48px;
  background-color: #2193b0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

#message {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #dd2104;
  display: none;
}

#list {
  max-height: 300px;
  overflow: auto;
  padding: 10px;
}

#list div {
  display: flex;
  justify-content: right;
}

.clear-btn {
  width: 90px;
  border: none;
  background: none;
  color: #000;
  font-size: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}

.clear-btn:hover {
  color: #dd2104;
}

.clear-btn img {
  width: 12%;
}

#list li {
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

#list li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

.checked {
  text-decoration: line-through #dd2104 2px;
}

.checked::before {
  background-image: url(./images/check.png) !important;
}

#list span {
  position: absolute;
  right: 0;
  top: 8px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

#list span:hover {
  color: #dd2104;
}

@media only screen and (max-width: 600px) {
  .todo-app {
    width: 90%;
  }

  .clear-btn {
    width: 90px;
  }
}
